<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="xcv"
         point="org.eclipse.ui.commands">
      <category
            id="PA1_XML-Sender.commands.category"
            name="Category">
      </category>
      <command
            categoryId="Plugin-File-Sender.commands.category"
            name="DeployFileCommand"
            id="Plugin-File-Sender.commands.DeployFileCommand">
      </command>
      <command
            categoryId="Plugin-File-Sender.commands.category"
            id="Plugin-File-Sender.commands.SettingsCommand"
            name="SettingsCommand">
      </command>
      <command
            categoryId="Plugin-File-Sender.commands.category"
            id="Plugin-File-Sender.commands.DeployFileAndRunCommand"
            name="DeployFileAndRunCommand">
      </command>
      <command
            categoryId="Plugin-File-Sender.commands.category"
            id="Plugin-File-Sender.commands.StopCommand"
            name="StopCommand">
      </command>
      <command
            categoryId="Plugin-File-Sender.commands.category"
            id="Plugin-File-Sender.commands.GetStateCommand"
            name="GetStateCommand">
      </command>
      <command
            categoryId="Plugin-File-Sender.commands.category"
            id="Plugin-File-Sender.commands.RunCommand"
            name="RunCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="plugin_file_sender.handlers.DeployFileHandler"
            commandId="Plugin-File-Sender.commands.DeployFileCommand">
      </handler>
      <handler
            class="plugin_file_sender.handlers.SettingsHandler"
            commandId="Plugin-File-Sender.commands.SettingsCommand">
      </handler>
      <handler
            class="plugin_file_sender.handlers.DeployAndRunHandler"
            commandId="Plugin-File-Sender.commands.DeployFileAndRunCommand">
      </handler>
      <handler
            class="plugin_file_sender.handlers.StopHandler"
            commandId="Plugin-File-Sender.commands.StopCommand">
      </handler>
      <handler
            class="plugin_file_sender.handlers.GetStateHandler"
            commandId="Plugin-File-Sender.commands.GetStateCommand">
      </handler>
      <handler
            class="plugin_file_sender.handlers.RunHandler"
            commandId="Plugin-File-Sender.commands.RunCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="Plugin-File-Sender.commands.Command"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <!--- Deploy Button-->
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="Plugin-File-Sender.toolbars.Toolbar">
            <command
                  id="Plugin-File-Sender.toolbars.DeployFileButton"
                  commandId="Plugin-File-Sender.commands.DeployFileCommand"
                  icon="icons/deploy_file_icon.png"
                  tooltip="Deploy">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="Plugin-File-Sender.toolbars.Toolbar">
            <command
                  commandId="Plugin-File-Sender.commands.RunCommand"
                  icon="icons/run_icon.png"
                  id="Plugin-File-Sender.toolbars.RunButton"
                  tooltip="Run">
            </command>
         </toolbar>
      </menuContribution>
       <!--- Deploy and Run Button-->
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="Plugin-File-Sender.toolbars.Toolbar">
            <command
                  commandId="Plugin-File-Sender.commands.DeployFileAndRunCommand"
                  icon="icons/deploy_and_run_icon.png"
                  id="Plugin-File-Sender.toolbars.DeployFileAndRunButton"
                  tooltip="Deploy and Run">
            </command>
         </toolbar>
      </menuContribution>
       <!--- Stop Button-->
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="Plugin-File-Sender.toolbars.Toolbar">
            <command
                  commandId="Plugin-File-Sender.commands.StopCommand"
                  icon="icons/stop_icon.png"
                  id="Plugin-File-Sender.toolbars.StopButton"
                  tooltip="Stop">
            </command>
         </toolbar>
      </menuContribution>
       <!--- Get State Button-->
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="Plugin-File-Sender.toolbars.Toolbar">
            <command
                  commandId="Plugin-File-Sender.commands.GetStateCommand"
                  icon="icons/get_state_icon.png"
                  id="Plugin-File-Sender.toolbars.GetStateButton"
                  tooltip="Get State">
            </command>
         </toolbar>
      </menuContribution>
       <!--- Settings Button-->
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="Plugin-File-Sender.toolbars.Toolbar">
            <command
                  commandId="Plugin-File-Sender.commands.SettingsCommand"
                  icon="icons/settings_icon.png"
                  id="Plugin-File-Sender.toolbars.SettingsButton"
                  tooltip="Settings">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <dynamic
               class="plugin_file_sender.handlers.SelectedProfileLabelHandler"
               id="Plugin-File-Sender.SelectedProfileLabel">
         </dynamic>
      </menuContribution>
      
   </extension>

</plugin>
